<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/base.html}">

<head>
    <title>Account Admin</title>
    <!-- Colorpicker Css -->
    <link th:href="@{../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css}" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link th:href="@{../../plugins/dropzone/dropzone.css}" rel="stylesheet">

    <!-- Multi Select Css -->
    <link th:href="@{../../plugins/multi-select/css/multi-select.css}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link th:href="@{../../plugins/jquery-spinner/css/bootstrap-spinner.css}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link th:href="@{../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link th:href="@{../../plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link th:href="@{../../plugins/nouislider/nouislider.min.css}" rel="stylesheet" />
    <script>
        $(document).ready(()=>{
            $("#admin-page").addClass("active");
            $("#admin-page-account").addClass("active");
        })
    </script>
</head>

<body class="theme-red">

    <section class="content" layout:fragment="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thêm mới quản trị</a></li>
                                    <li role="presentation"><a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab">Thay đổi mật khẩu</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                                        <div class="panel panel-default panel-post">
                                            <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form id="form_validation">

                                                                <div class="col-md-7">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="text" class="form-control" name="name" required>
                                                                                    <label class="form-label">Tên đăng nhập</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="password" class="form-control" name="name" required>
                                                                                    <label class="form-label">Mật khẩu</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="text" class="form-control" name="name" required>
                                                                                    <label class="form-label">Họ</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="password" class="form-control" name="name" required>
                                                                                    <label class="form-label">Tên</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                            <input type="text" class="form-control" name="name" required>
                                                                            <label class="form-label">Tên đầy đủ</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                            <input type="text" class="form-control" name="name" required>
                                                                            <label class="form-label">Email</label>
                                                                        </div>
                                                                    </div>

                                                                    <label class="form-label">Giới tính</label>
                                                                    <div class="row">
                                                                        <div class="col-md-1">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                                                                <label class="form-check-label" for="flexRadioDefault1">
                                                                                    Nam
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                                                <label class="form-check-label" for="flexRadioDefault2">
                                                                                    Nữ
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="text" class="form-control" name="name" required>
                                                                                    <label class="form-label">Ngày sinh</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group form-float">
                                                                                <div class="form-line">
                                                                                    <input type="text" class="form-control" name="name" required>
                                                                                    <label class="form-label">Số điện thoại</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <script>
                                                                    function chooseFile(fileInput) {
                                                                        if (fileInput.files && fileInput.files[0]){
                                                                            var reader = new FileReader();
                                                                            reader.onload = function (e) {
                                                                                $('#image').attr('src',e.target.result);
                                                                            }
                                                                            reader.readAsDataURL(fileInput.files[0]);
                                                                        }
                                                                    }
                                                                </script>
                                                                <div class="col-md-5">
                                                                    <div class="form-group form-float">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Ảnh</label>
                                                                            <input onchange="chooseFile(this);" type="file" class="form-control" name="surname" required>
                                                                        </div>
                                                                    </div>
                                                                    <img    id="image"
                                                                            src="http://placehold.it/500x300"
                                                                            class="img-responsive"
                                                                            alt=""
                                                                    >
                                                                </div>
                                                                <button class="btn btn-primary waves-effect" type="submit">Hoàn thành</button>
                                                                <a href="addNewPitch.html">a</a>
                                                            </form>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="OldPassword" class="col-sm-3 control-label">Mật khẩu cũ</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="OldPassword" name="Mật khẩu cũ" placeholder="Old Password" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPassword" class="col-sm-3 control-label">Mật khẩu mới</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Mật khẩu mới" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPasswordConfirm" class="col-sm-3 control-label">Mật khẩu mới (Xác nhận)</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                        <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="Mật khẩu mới (Xác nhận)" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-danger">SUBMIT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
