<!-- Menu -->
<div class="menu">
	<ul class="list">
		<li class="header">MAIN NAVIGATION</li>
		<li>
			<a href="javascript:void(0);" class="menu-toggle">
				<i class="material-icons">view_list</i>
				<span>Booking Pitch</span>
			</a>
			<ul class="ml-menu">
				<li>
					<a href="pages/Product Manager/listOrder.html">Booking</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);" class="menu-toggle">
				<i class="material-icons">view_list</i>
				<span>Service Manager</span>
			</a>
			<ul class="ml-menu">
				<li>
					<a href="pages/Product Manager/addNewProduct.html">Add Service</a>
				</li>
				<li>
					<a href="pages/Product Manager/listProduct.html">View Service</a>
				</li>
			</ul>
		</li>
	</ul>
</div>