<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/base.html}">

<head>
    <title>Thêm Mới Sản Phẩm</title>

    <!-- Colorpicker Css -->
    <link th:href="@{../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css}" rel="stylesheet"/>

    <!-- Dropzone Css -->
    <link th:href="@{../../plugins/dropzone/dropzone.css}" rel="stylesheet">

    <!-- Multi Select Css -->
    <link th:href="@{../../plugins/multi-select/css/multi-select.css}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link th:href="@{../../plugins/jquery-spinner/css/bootstrap-spinner.css}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link th:href="@{../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link th:href="@{../../plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"/>

    <!-- noUISlider Css -->
    <link th:href="@{../../plugins/nouislider/nouislider.min.css}" rel="stylesheet"/>
    <script>
        $(document).ready(() => {
            $("#product").addClass("active");
            $("#add-new-product").addClass("active");
        })
    </script>
</head>

<body class="theme-red">

<section class="content" layout:fragment="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Hệ Thống Quản Lí Sân Bóng Và Bán Phụ Kiện Thể Thao</h2>
        </div>
        <!-- Advanced Select -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </h2>
                    <div class="body">
                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
                             role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
                            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                        </div>
<!--                        tao-->
                        <form id="form_validation" th:action="@{/admin/add-new-product}" method="POST"
                              th:object="${objProduct}" enctype="multipart/form-data">
<!--                            tao-->
                            <h2 class="text-center" th:if="${objProduct.isEdit}">Sửa sản phẩm</h2>
                            <h2 class="text-center" th:unless="${objProduct.isEdit}">Thêm mới sản phẩm</h2>
                            <div class="row">
                                <div class="col-md-7">
<!--                                    tao-->
                                    <input type="hidden" th:field="*{isEdit}">
                                    <input type="hidden" th:field="*{id}" class="form-control" name="id">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" th:field="*{name}" class="form-control" name="name" id="name">
                                            <label class="form-label">Tên sản phẩm</label>
                                            <span class="form-message" style="color: red;"></span>
                                            <div class="alert alert-danger d-block"
                                                 th:each="e : ${#fields.errors('name')} " th:text="${e}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <p>
                                                <b>Nhà cung cấp</b>
                                            </p>
                                            <select th:field="*{supplierId}" class="form-control show-tick">
                                                <option th:each="item:${listSupplierProduct}" th:value="${item.id}"
                                                        th:text="${item.companyName}"
                                                        th:selected="${item.id == objProduct.supplierId}"
                                                >Nhà cung cấp
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" th:field="*{quantity}" min="0"
                                                           class="form-control" name="quantity" id="quantity">
                                                    <label class="form-label">Số lượng</label>
                                                    <span class="form-message" style="color: red;"></span>
                                                    <div class="alert alert-danger d-block"
                                                         th:each="e : ${#fields.errors('quantity')} " th:text="${e}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" th:field="*{discount}" min="0" max="100"
                                                           class="form-control" name="discount" id="discount">
                                                    <label class="form-label">Giảm giá </label>
                                                    <span class="form-message" style="color: red;"></span>
                                                    <div class="alert alert-danger d-block"
                                                         th:each="e : ${#fields.errors('discount')} " th:text="${e}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <label class="form-label">%</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" th:field="*{price}" class="form-control"
                                                           name="price" id="price">
                                                    <label class="form-label">Giá</label>
                                                    <span class="form-message" style="color: red;"></span>
                                                    <div class="alert alert-danger d-block"
                                                         th:each="e : ${#fields.errors('price')} " th:text="${e}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" th:field="*{unit}" class="form-control"
                                                           name="unit" id="unit">
                                                    <label class="form-label">Đơn vị</label>
                                                    <span class="form-message" style="color: red;"></span>
                                                    <div class="alert alert-danger d-block"
                                                         th:each="e : ${#fields.errors('unit')} " th:text="${e}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <p>
                                                    <b>Thể loại</b>
                                                </p>
                                                <select th:field="*{categoryId}" class="form-control show-tick">
                                                    <option th:each="item:${listCategoryProduct}" th:value="${item.id}"
                                                            th:text="${item.name}"
                                                            th:selected="${item.id == objProduct.categoryId}">Clothes
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <!--                                            <div class="col-md-12">-->
                                            <!--                                                <div class="form-group form-float">-->
                                            <!--                                                    <div class="form-line">-->
                                            <!--                                                        <input type="text" th:field="*{status}" class="form-control" name="status" >-->
                                            <!--                                                        <label class="form-label">Đơn vị</label>-->
                                            <!--                                                    </div>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function chooseFile(fileInput) {
                                        if (fileInput.files && fileInput.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $('#image').attr('src', e.target.result);
                                            }
                                            reader.readAsDataURL(fileInput.files[0]);
                                        }
                                    }
                                </script>
                                <div class="col-md-5">
                                    <div class="form-group form-float">
                                        <div class="form-group">
                                            <label class="form-label">Ảnh</label>
                                            <input onchange="chooseFile(this);" type="file" class="form-control"
                                                   name="imageProduct">
                                        </div>
                                    </div>
                                    <img id="image"
                                         src="http://placehold.it/500x300"
                                         class="img-responsive"
                                         alt=""
                                         th:src="@{'/images/image-product/'+${objProduct.image}}"
                                    >
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <textarea th:field="*{description}" name="description" id="description" cols="30" rows="3"
                                              class="form-control no-resize"></textarea>
                                    <label class="form-label">Mô tả</label>
                                    <span class="form-message" style="color: red;"></span>
                                    <div class="alert alert-danger d-block"
                                         th:each="e : ${#fields.errors('description')} " th:text="${e}">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary waves-effect" type="submit">Hoàn thành</button>
                            <a href="addNewSubPitch.html">a</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            Validator({
                form: '#form_validation',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#name', 'Vui lòng nhập tên sản phẩm'),
                    Validator.minLength('#name', 2),
                    Validator.maxLength('#name', 50),
                    Validator.isCutManyBlankByProduct('#name','Chỉ 1 khoảng trắng cách nhau bởi 2 kí tự,Cuối và' +
                        ' đầu chuỗi không có khoảng cách,Phải có ít nhất 2 chữ cái, Không có kí tự đặc biệt!'),
                    //quantity
                    Validator.minLength('#quantity', 1),
                    Validator.isNumber('#quantity','Vui lòng nhập số và không có khoảng cách!'),
                    //discount
                    Validator.isRequired('#discount', 'Vui lòng nhập giảm giá sản phẩm'),
                    Validator.minLength('#discount', 1),
                    Validator.maxLength('#discount', 3),
                    Validator.isDiscount('#discount','Giảm giá chỉ từ 1-100%'),
                    Validator.isNumberHave0('#discount'),
                    Validator.isBlank('#discount','Vui lòng không nhập khoảng cách!'),
                    //price
                    Validator.isRequired('#price', 'Vui lòng nhập giá sản phẩm'),
                    Validator.isNumber('#price','Giá sản phẩm phải lớn hơn 0!'),
                    Validator.minLength('#price', 3),
                    Validator.isBlank('#price','Vui lòng không nhập khoảng cách!'),
                    //unit
                    Validator.minLength('#unit', 1),
                    Validator.maxLength('#unit', 20),
                    Validator.isCutManyBlankByProduct('#unit'),
                    //description
                    Validator.minLength('#description', 20),
                    Validator.maxLength('#description', 500),
                    Validator.isCutManyBlankByDescription('#description'),
                ],
            });
        });
    </script>
</section>

</body>

</html>
