<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/base.html}">

<head>
    <title>Add New Sub Pitch By Pitch</title>


    <!-- Colorpicker Css -->
    <link th:href="@{../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css}" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link th:href="@{../../plugins/dropzone/dropzone.css}" rel="stylesheet">

    <!-- Multi Select Css -->
    <link th:href="@{../../plugins/multi-select/css/multi-select.css}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link th:href="@{../../plugins/jquery-spinner/css/bootstrap-spinner.css}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link th:href="@{../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link th:href="@{../../plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link th:href="@{../../plugins/nouislider/nouislider.min.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{../../css/style.css}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link th:href="@{../../css/themes/all-themes.css}" rel="stylesheet" />
    <script>
        $(document).ready(()=>{
            $("#pitch").addClass("active");
            $("#add-new-sub-pitch-by-pitch").addClass("active");
        })
    </script>
</head>

<body class="theme-red">

    <section class="content" layout:fragment="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Hệ Thống Quản Lí Sân Bóng Và Bán Phụ Kiện Thể Thao</h2>
            </div>
            <!-- Advanced Select -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               Thêm mới sân nhỏ từ sân bóng cũ
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                <div class="col-md-4">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" required>
                                        <label class="form-label">Tên sân bóng nhỏ</label>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="form-control show-tick ">
                                            <option style="display:none;">Loại sân</option>
                                            <option>5</option>
                                            <option>7</option>
                                            <option>11</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control show-tick ">
                                            <option style="display:none;">Sân lớn</option>
                                            <option>Tuyen Son</option>
                                            <option>Tuyen Son</option>
                                            <option>Tuyen Son</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <textarea name="description" cols="30" rows="3" class="form-control no-resize" required></textarea>
                                            <label class="form-label">Mô tả</label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary waves-effect" type="submit">Hoàn thành</button>
                                <a href="listPitch.html"></a>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
