<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

    <title>😈 Stone Devil</title>

  <link th:href="@{../../usercssjs/assets/css/styles1.css}" rel="stylesheet" />
</head>

<body>

  <div class="d-flex" id="wrapper" layout:fragment="content">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom badge-danger"><i class="fas fa-key" style="margin-right: 5%;"></i>TÀI KHỎA CỦA TÔI</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3 active" href="#!"><i class="fas fa-id-card" style="margin-right: 5%;"></i>HỒ SƠ</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3 "
           th:href="@{/user/change-password}" href="#"><i class="fas fa-unlock-alt" style="margin-right: 5%;" ></i>THAY ĐỔI MẬT KHẨU</a>

      </div>
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3"
             th:href="@{/user/history-invoice}" href="#"><i class="fas fa-file-invoice-dollar" style="margin-right: 5%;"></i>LỊCH SỬ ĐẶT HÀNG</a>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3"
             th:href="@{/user/history-invoice-booking}" href="#"><i class="fas fa-file-invoice-dollar" style="margin-right: 5%;"></i>LỊCH SỬ ĐẶT SÂN</a>
        </div>
      </div>
    </div>
    
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <button class="btn btn-outline-danger" id="sidebarToggle">>></button>
        <!-- Top navigation-->
        <div class="col-sm-12 " >
          <div class="card">
              <div class="card-header " style="background-color: red; color: white;">
                  <h2>HÓA ĐƠN ĐẶT SÂN</h2>
              </div>
              <div class="card-body" style="overflow-x:auto;">
                  <table class="table table-bordered">
                      <thead class="thead-inverse">
                          <tr>
                              <th>Id</th>
                              <th>Ngày đặt</th>
                              <th>Tên sân</th>
                              <th>Tên sân nhỏ</th>
                              <th>Loại sân</th>
                              <th>Thời gian bắt đầu</th>
                              <th>Thời gian kết thúc</th>
                              <th>Tiền thuê sân</th>
                              <th>Tổng tiền</th>
                              <th>Trả trước</th>
                              <th>Số ĐT</th>
                              <th>Ghi chú</th>
                              <th>Trạng thái</th>
                              <th>Dịch vụ</th>
                              
                              
                              
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                      
                          <td>
                            14/2/2020
                          </td>
                      
                          <td>
                            San Tien Son
                          </td>
                      
                          <td>
                            san a1
                          </td>
                      
                          <td>
                            san 5
                          </td>
                      
                          <td>
                            14h
                          </td>
                      
                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>
                      
                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            1
                          </td>

                          <td>
                            14/2/2020
                          </td>

                          <td>
                            San Tien Son
                          </td>

                          <td>
                            san a1
                          </td>

                          <td>
                            san 5
                          </td>

                          <td>
                            14h
                          </td>

                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>

                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            1
                          </td>

                          <td>
                            14/2/2020
                          </td>

                          <td>
                            San Tien Son
                          </td>

                          <td>
                            san a1
                          </td>

                          <td>
                            san 5
                          </td>

                          <td>
                            14h
                          </td>

                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>

                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            1
                          </td>

                          <td>
                            14/2/2020
                          </td>

                          <td>
                            San Tien Son
                          </td>

                          <td>
                            san a1
                          </td>

                          <td>
                            san 5
                          </td>

                          <td>
                            14h
                          </td>

                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>

                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            1
                          </td>

                          <td>
                            14/2/2020
                          </td>

                          <td>
                            San Tien Son
                          </td>

                          <td>
                            san a1
                          </td>

                          <td>
                            san 5
                          </td>

                          <td>
                            14h
                          </td>

                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>

                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr><tr>
                          <td>
                            1
                          </td>

                          <td>
                            14/2/2020
                          </td>

                          <td>
                            San Tien Son
                          </td>

                          <td>
                            san a1
                          </td>

                          <td>
                            san 5
                          </td>

                          <td>
                            14h
                          </td>

                          <td>17h</td>
                          <td>
                            1200$
                          </td>
                          <td>
                            2200$
                          </td>

                          <td>
                            400$
                          </td>
                          <td>
                            0123456789
                          </td>
                          <td>
                            none
                          </td>
                          <td style="color: green;"> Duyệt</td>
                          <td>
                            <a th:href="@{/user/history-invoice-booking-service}" href="#">Bấm vào đây</a>
                          </td>
                        </tr>


                      </tbody>
                      
                  </table>
                  <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog"
                      aria-labelledby="modelTitleId" aria-hidden="true">
                  </div>
              </div>
            
          </div>
      </div>
        <!-- Page content-->
    </div>
    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value = '';         // with more chance of typos
          t.style.color = '#fff';
        }
      }
    </script>

  </div>




</body>

</html>